ul.stationList {
  list-style: none;
  padding: 40px 40px 0 40px;
  margin-bottom: 0;
  flex-direction: column;
  display: flex;
}

ul.stationList li a {
  font-size: 44px;
  font-weight: normal;
  color: #a2abbd;
  border-bottom: 2px solid #515561;
  padding-bottom: 40px;
  display: block;
}
ul.stationList li {
  margin-bottom: 50px;
}
ul.stationList li:last-child a {

 
}

ul.stationList li a span {
  font-weight: bold;
  float: right;
}
.stationsContainer {
  max-height: 807;
  overflow-x: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  .stationsContainer {
    max-height: 827px;
  }
}

.stationsContainer::-webkit-scrollbar {
  width: 7px;
}

.stationsContainer::-webkit-scrollbar-track {
  border-radius: 0;
}

.stationsContainer::-webkit-scrollbar-thumb {
  background: #a2abbd;
  border-radius: 0;
}

.stationsContainer::-webkit-scrollbar-thumb:hover {
  background: #a2abbd;
}
